<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Кинотеатр Лотос.@ViewData["Title"]</title>
    <link rel="stylesheet" href=@ViewData["Css"]>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="headercontent">
            <img src="img/logo.png" style="width: 60px;height: 40px;float: left;margin-left: 100px; margin-right: 10px;">
            <h1>Кинотеатр "Лотос"</h1>
        </div>
    </header>
    <div class="wrapper">
        <input type="checkbox" id="checkmenu">
        <label for="checkmenu"></label>
        <div class="burger-line first"></div>
        <div class="burger-line second"></div>
        <div class="burger-line third"></div>
        <div class="burger-line fourth"></div>
        <nav class="main-menu">
            <a href="index.html">Афиша</a>
            <a href="#">Расписание</a>
            <a href="#">Информация о кинотеатре</a>
            <a href="Auth.html">Личный кабинет</a>
            <a href="#">Акции и новости</a>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        Афиша
        Расписание
        Информация о кинотеатре
        Личный кабинет
        Акции и новости
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
