@model Cinema.Models.Film
<span class="CloseVP" onclick="closeVPlayer(event)"></span>
<iframe id="VideoPlayer" src="@Model.TrailerUrl" title="@Model.FilmName" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
