@model Cinema.ViewModels.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="auth.js"></script>
    <script type="text/javascript" src="jquery.maskedinput.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="authStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Кинотеатр Лотос. Авторизация</title>
</head>
<body>
    <header>
        <div class="headercontent">
            <img src="img/logo.png" style="width: 60px;height: 40px;float: left;margin-left: 100px; margin-right: 10px;">
            <h1>Кинотеатр "Лотос"</h1>
        </div>
    </header>
    <div class="wrapper">
        <input type="checkbox" id="checkmenu">
        <label for="checkmenu"></label>
        <div class="burger-line first"></div>
        <div class="burger-line second"></div>
        <div class="burger-line third"></div>
        <div class="burger-line fourth"></div>
        <nav class="main-menu">
            <a href="index.html">Афиша</a>
            <a href="#">Расписание</a>
            <a href="#">Информация о кинотеатре</a>
            <a href="Login.cshtml">Личный кабинет</a>
            <a href="#">Акции и новости</a>
        </nav>
    </div>
    <div class="content">
        <form asp-action="Login" asp-controller="Account" asp-anti-forger="true">
            <div class="auth">
                <h1 id="authTxt">Авторизация</h1><br>
                <div class="phone">
                    <span id="phoneTxt">Номер телефона:</span>
                    <input asp-for="Phone" id="phoneInp" type="tel" title="Номер телефона" />
                </div>
                <div class="password">
                    <span id="passwordTxt">Пароль:</span>
                    <input asp-for="Password" id="passInp" type="password" title="Пароль">
                </div>
                <button onclick="authButtonClick()">Войти</button><br>
                <span id="errNote"></span><br>
                <span id="registerNote">Если вы еще не зарегистрированы, нажмите на <a asp-action="Login" asp-controller="Account" id="regWord" onclick="registerClick()">регистрация</a>.</span>

            </div>
        </form>
    </div>
    <footer>
        Афиша
        Расписание
        Информация о кинотеатре
        Личный кабинет
        Акции и новости
    </footer>
</body>
</html>
