@{
    ViewData["Title"] = "Профиль";
    ViewData["Css"] = "profileStyle.css";
}
@if(User.Claims.Where(u => u.Type == "Email").Select(u => u.Value).FirstOrDefault() != null)
{
    ViewBag.Email = User.Claims.Where(u => u.Type == "Email").Select(u => u.Value).FirstOrDefault();
}
else
{
    ViewBag.Email = "Не указан";
}

<div class="content">
    <div class="pr">
        <div class="profile">
            <h1 id="profileTxt">Личный кабинет</h1><br>
            <div class="userInfo">
                <span id="phoneTxt">Номер телефона: @User.Identity.Name</span>
                <span id="EmailTxt">Email пользователя: @ViewBag.Email </span>
            </div>
            <button>Редактировать данные</button>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button id="logoutButton">Выйти из аккаунта</button>
            </form>
        </div>
        <div class="userHistory">
            <h1 id="profileTxt">Список заказов</h1>
            <span id="order">Заказ</span>
        </div>
    </div>
</div>