*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 5px;
    float: right;
    margin-right: 5px;
    width: 320px;
    position: relative;
    color:white;
    text-align: center;
    height: 45px;
    font-family: 'Arial';
    z-index: 2;
}
#checkmenu{
    display: none;
}
.wrapper label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}
.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    transition: .2s all;
}
.second, .third{
    top: 18px;
}
.fourth{
    top:28px;
}
.main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .2s all;
    background-color: rgb(73, 73, 73,0.4);
}
.main-menu a{
    display: block;
    width: 100%;
    padding: 10px;
    color:white;
    text-decoration: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
}
    .main-menu a:hover {
        color: lightblue;
    }
#checkmenu:checked ~.main-menu{
    max-height: 500px;
    font-size: 16px;
}
#checkmenu:checked ~.first{
    display: none;
}
#checkmenu:checked~.second{
    transform: rotate(45deg);
}
#checkmenu:checked~.third{
    transform: rotate(-45deg);
}
#checkmenu:checked~.fourth{
    display: none;
}
body{
    background: -webkit-radial-gradient(rgb(73, 73, 73),rgba(0, 0, 0, 0.9));
}
header{
    border-bottom-color: rgba(255, 255, 255, 0.15);
    border-width: 0.1px;
    border-bottom-style: solid;
    width: 100%;
    height: 50px;
    background-color: rgb(73, 73, 73,0.4);
    position: fixed;
    z-index: 2;
}
.headercontent{
    margin-top: 5px;
}
h1{
    color: #ff81c6;
}
.content{
    
    position: static;
    height: 1200px;
    width: 100%;
}
#smth{
    color: #ffffff;
    margin-left: 80px;
}
footer{
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.15);
    margin-left: 5%;
    border-width: 0.1px;
    position:static;
    width: 90%;
    height: 200px;
}
.afisha{
    width: 100%;
    height: 400px;
    position: relative;
}
.Test{
    width: 100%;
    height: 100%;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    position: absolute;
}
.img{
    margin-left: 10%;
    width: 80%;
    height: 100%;
    z-index: -1;
    cursor: pointer;
}
.PicCount {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 5%;
    width: 100%;
    z-index: 1;
    justify-content: center;
}
.PicCount span{
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(255,255,255,0.4);
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgb(0, 0, 0, 0.4);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.FilmList{
    position: relative;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10%;
}
#Aftxt{
    display: block;
    margin-top: 1em;
    margin-left: 10%;
    font-size: 3rem;
    color:#ffffff;
    font-family: sans-serif;
}
.Film{
    display: block;
    margin: auto;
    position:relative;
    margin-top: 2%;
    width: 710px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    border:0px;
    border-radius: 25px;
    flex: inherit;
}
.FilmPoster{
    position:absolute;
    margin-left: 1.5%;
    margin-top: -1%;
    width: 200px;
    height: 250px;
    transition: .2s all;
    cursor: pointer;
}
.FilmPoster:hover{
    height: 260px;
    width: 210px;
    margin-top: -1.5%;
    margin-left: 1%;
}
.FilmFullPage{
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    background-color: rgba(40, 40, 40, 0.6);
    z-index: 2;
}
.FilmFullPage .FilmActualSessions{
    margin-left: 15px;
    width: 100%;
    height: max-content;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}
.FilmFullPage #SessionTxt{
    margin-left: 20px;
    width: 100%;
    font-family: sans-serif;
    font-size:x-large;
}
.FilmFPContent{
    position: fixed;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 1px;
    border-color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.FilmTrailer{
    height: 70%;
    margin-top: 25px;
    margin-left: 15px;
}
.FilmFullInfo{
    margin-top: 25px;
    margin-left: 10px;
    flex:auto;
    width: min-content;
    height: max-content;
}
.FilmInfo{
    font-family: sans-serif;
    font-size:large;
}
.FilmDesc{
    font-family: sans-serif;
    font-size:large;
    margin-top: 10px;
}
.FilmInfo .FilmName{
    color: black;
    font-size: x-large;
    margin-bottom: 10px;
}
.FilmName{
    font-size:x-large;
    font-family: sans-serif;
    color: azure;
}
.Film .FilmName{
    margin-left: 230px;
    position: absolute;
    margin-top: 15px;
    cursor: pointer;
}
.Film .FilmName:hover{
    color:beige;
}
.FilmGenres{
    font-size:small;
    font-family: sans-serif;
    color: rgb(116, 116, 116);
    margin-left: 230px;
    position: absolute;
    margin-top: 45px;
}
.Film .FilmActualSessions{
    margin-left: 220px;
    position: absolute;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
}
.Session{
    font-size:large;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 70px;
    height: 70px;
    background-color: rgba(78, 78, 78, 0.6);
    border:0px;
    border-radius: 10px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    margin: 0px 5px 5px 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.Session:hover{
    background-color: rgba(85, 85, 85, 1);
    color: beige;
}
.VPlayer{
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    background-color: rgba(40, 40, 40, 0.6);
    z-index: 3;
}
.CloseVP{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    }
    .CloseVP:hover {
    opacity: 1;
    }
    .CloseVP:before, .CloseVP:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 255, 255);
    }
    .CloseVP:before {
    transform: rotate(45deg);
    }
    .CloseVP:after {
    transform: rotate(-45deg);
    }
#VideoPlayer{
    margin-top: 2%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
.SessionTicketList{
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    background-color: rgba(40, 40, 40, 0.6);
    z-index: 2;
}
.TicketList{
    position: fixed;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 1px;
    border-color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.CurrentOrder {
    padding-top: 10px;
    width: 20%;
    height: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: grey;
    font-size: large;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.HallSchema{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.Screen{
    height: 40px;
    width: 90%;
    margin-left: 5%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-top: none;
}
.Row{
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
    height: 30px;
    justify-content: center;
}
.RowTxt{
    font-size:large;
    font-family: sans-serif;
    align-self: center;
}
.Seats{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Seat{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 3px;
    background-color: orange;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 10px;
}
.Row .free{
    display: none;
}
.CurrentOrderTxt{
    font-size:x-large;
    display:flex;
    
}
.tickets {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ticket{
    width:100%;
}
.orderSumTxt, .orderSumRes{
    font-size: xx-large;
    align-self: flex-end;
}
.orderSum {
    margin: auto 0 0 0;
}
.btn-type{

}
.Lock {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 3px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}